body {
    font-family: 'oswald', sans-serif;
    line-height: 1.6; 
    margin: 0;
    color: #FF6961
}

.body-content {
  padding: 35px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;  
    color: #222;  /* Darker color for emphasis */
}

p {
    font-family: 'Inter', sans-serif;  /* Ensures paragraphs use a separate font */
    font-size: 1rem;
}



header {
    background: #990011;
    color: #fff;
    padding: 30px 50px;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header li {
    margin-right: 30px;
}
header a {
    color: white;
    text-decoration: none;
}

.header-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 800px;
    margin: auto;
    filter: drop-shadow(0 0 50px black);
}


.blog-post {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 10px;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
}

.blog-post h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.blog-meta {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 20px;
}

#blog-content p {
    margin-bottom: 15px;
}


header a:hover {
    text-decoration: underline;  /* Adds underline when hovered */
}

/* Add padding/margin above footer */
.blog-list {
    margin-bottom: 20px; /* Adds space below the last blog post */
}

/* Alternatively, add space to the whole main section */
main {
    padding-bottom: 0px;
}


footer {
    border-top: 1px solid #ccc; /* Thin gray line */
    background: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 30px; /* Padding for the text inside the footer */
    color: #990011;
}
